.navbar-brand {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333; /* Warna teks utama */
    text-decoration: none; /* Hilangkan garis bawah */
    display: flex; /* Gunakan flex untuk tata letak horizontal */
    align-items: center; /* Selaraskan logo dan teks secara vertikal */
}

.navbar-brand img {
    margin-right: 10px; /* Jarak antara logo dan teks */
    vertical-align: middle; /* Pastikan logo sejajar */
}

.text-container {
    text-align: left; /* Rata kiri */
    line-height: 1.2; /* Jarak antar baris teks */
}

.e-office {
    /* color: #0056b3; */
    font-weight: bold;
    font-size: 18px; /* Ukuran font lebih besar */
    text-transform: uppercase;
    margin-right: -5px;
    letter-spacing: 1px;
}

.kesdam {
    color: #333; /* Warna teks "KESDAM IV/DIPONEGORO" */
    font-weight: bold;
    font-size: 18px; /* Ukuran font sedikit lebih kecil */
    text-transform: uppercase;
    margin-left: 5px; /* Jarak kecil antara "E-OFFICE" dan "KESDAM" */
    letter-spacing: 1px;
}
